.button_blue_specific {
    margin-top: 4px;
}

.login_input_box {
    margin-top: 4px;
}

input.login_submit {
    border: none;
}

input[type='checkbox'] {
    border: none;
}

.no_border input {
    border: none;
}

input.button_blue, input.button_green, input.button_grey {
    height: 22px;
    padding: 1px 4px 6px 4px;
}

#footer div {
    margin-left: 129px;
}