.button_blue_specific {
    margin-top: 4px;
}

.login_input_box {
    margin-top: 4px;
}

input.login_submit {
    border: none;
}

input[type='checkbox'] {
    border: none;
}

.no_border input {
    border: none;
}

.button_green button, .button_grey button {
    height: 24px;
    padding: 1px 4px 1px 4px;
}

.button_blue input {
    height: 33px;
    padding: 6px 4px 6px 4px;
    padding-bottom: 5px;
}

#footer div {
    margin-left: 0px;
}