.button_blue_specific {
    margin-top: 4px;
}

.login_input_box {
    margin-top: 4px;
}

input.login_submit {
    border: none;
}

input[type='checkbox'] {
    border: none;
}

input.button_green {
    height: 28px;
    padding: 1px 4px 0 4px;
}