<br/><br/>
<h2 class="center">Order Confirmation</h2>

<br/>
<div id="progress_bar">
  <div class="progress_bar_cell">
    <p>Step 1 - Order</p>
  </div>
  <div class="progress_bar_cell">
    <p>Step 2 - Order Summary</p>
  </div>
  <div class="progress_bar_cell active">
    <p>Step 3 - Order Confirmation</p>
  </div>
</div>

<div class="left2 top5 fontsize14">
  <h2 class="h3_style">Thank you for submitting your order.</h2>

  <p>You will receive an order confirmation in your email within 1 business day.</p>
  <br/>

  <p>The order confirmation email will include the following:</p>
  <br/>
  <ul>
    <li>Order confirmation number</li>
    <li>Projected delivery date</li>
    <li>Delivery address for this order</li>
    <li>Next order due date</li>
    <li>Supply storage instructions</li>
  </ul>
  <p>For additional questions or order changes call Baxter Home Services : 1-800-284-4060</p>

  <br/>

  <p>
    <%#= link_to "(Logout)", destroy_user_session_path, :method => :delete %>
    <%= button("Sign out", destroy_user_session_path, "button_blue") %>
  </p>
</div>