<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Dear <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>
  This is a notification that the password associated with your MyDialysisSupply.com account was successfully reset/created.
</p>

<p>
  If you have not changed the password associated with your MyDialysisSupply.com account within the last hour, please
  call 1-800-284-4060 immediately. A Baxter HomeCare Service representative will review the situation with you. To help
  protect your account's security, please do not reply to this email or forward it to a third party.
</p>

<p>
  If you did make this password change, no action on your part is necessary. We send this notice only to ensure the
  safety and security of your account.
</p>

<p>
  Sincerely,
</p>

<p>
  Your Baxter HomeCare Service team
</p>
</body>
</html>