<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>Thank you for submitting your order.</h2>

<p>You will receive an order confirmation in your email within 1 business day.</p>
<p>The order confirmation email will include the following:</p>
<ul>
  <li>Order confirmation number.</li>
  <li>Projected delivery date.</li>
  <li>Delivery address for this order.</li>
  <li>Next order due date.</li>
  <li>Supply Storage instructions.</li>
</ul>
<p>For additional questions or order changes call Baxter Home Services : 1-800-284-4060</p>

</body>
</html>