<div id="footer2">
  <div class="footer_left">
    <p>
      Copyright &copy; 2011 Baxter Healthcare Corporation. All rights reserved.
      <br/>
      <a href="/Privacy-Policy-terms-shipping-agreement.htm" target="_blank">Baxter Privacy Policy and Delivery
        Terms & Conditions</a>
        <span style="padding-left: 70px">Baxter Home Service : 1-800-284-4060</span>
    </p>
  </div>
  <div class="footer_right">
    <img src="/images/logo2.png" width="109" height="23" border="0" alt="Baxter Logo">
  </div>
</div>