<div class="clear"></div>
<div id="footer">
  <div>
    <p class="">Copyright &copy; 2011 Baxter Healthcare Corporation. All rights reserved.</p>

    <p>Baxter Home Service : 1-800-284-4060
      <a class="" href="/Privacy-Policy-terms-shipping-agreement.htm" target="_blank">Baxter Privacy Policy and Delivery
        Terms & Conditions</a></p>
  </div>
  <img src="/images/Baxter_logo.jpg" width="125" height="30" border="0">
</div>