<div class="logo">
  <div class="logo2">
    <p>
      <% if user_signed_in? %>
          Hello <%= current_user.first_name %>
      <% end %>

      <% if user_signed_in? -%>
          || <%= link_to "(Logout)", destroy_user_session_path, :method => :delete %>
      <% end -%>

      <% if admin_signed_in? -%>
          <%= link_to "(Logout)", destroy_admin_session_path, :method => :delete %>
      <% end -%>

      <% if user_signed_in? %>
          || <%= link_to "Change Password", "../change_password" %>
      <% end %>
    </p>
  </div>
  <div class="logo3">
    <h1>MyDialysisSupply.com</h1>
  </div>
</div>