<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
  You have been sent this message because you recently contacted your Baxter HomeCare Service team about your password.
  <br/>
  To protect your account, do not reply to this email or forward it to someone else.
</p>

<p>
  To create or reset your password, please click this link:
</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Passwords must be at least 6 alphanumeric characters and are case sensitive.</p>

<p>
  If clicking the link does not seem to work, you can copy and paste the link into your browser's address window, or
  retype it there. If you need further assistance, call your HomeCare Service representative at 1-800-284-4060.”
</p>

<p>Sincerely,</p>

<p>Your Baxter HomeCare Service team</p>
</body>
</html>