<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

<p>Click this link to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>If you have any questions or concerns please contact us.</p>

<p>Your Baxter HomeCare Services Team<br/>
1-800-284-4060</p>